<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Configuration section handler -->
  <configSections>
    <section
      name="FireFive.PipelineVisualiser.SprockitViz"
      type="FireFive.PipelineVisualiser.SprockitViz.SprockitVizSettings,sprockitviz"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!-- **** Configure sprockitviz behaviour here **** -->
  <FireFive.PipelineVisualiser.SprockitViz
    graphvizAppFolder="C:\Program Files (x86)\Graphviz2.38\bin"
    deleteWorkingFiles="true"
    verbose="false">

    <SprockitInstances>

      <Instance
        alias="my_test_sprockit_instance"
        connectionString="Server=.\SQL2008R2;Database=test;Trusted_Connection=yes;"
        outputFolder="C:\tmp\sprockitviz"
        maxWidth="4"
        maxHeight="6"
        subgraphRadius="2">
        <dbColors>
          <dbColor dbName="Cornflower" color="cornflowerblue" />
        </dbColors>
      </Instance>
      
      <!-- 
      <Instance></Instance>
      <Instance></Instance>
      -->
      
    </SprockitInstances>
  </FireFive.PipelineVisualiser.SprockitViz>

</configuration>